<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHred="/">

      </ion-back-button>
    </ion-buttons>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" lines="inset">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" (click)="decreaseCartItem(item)">
              <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="1" class="ion-align-self-center">
            {{ item.Amount }}
          </ion-col>

          <ion-col size="2" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" (click)="increaseCartItem(item)">
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="2" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" (click)="removeCartItem(item)">
              <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <b>{{ item.Name }}</b>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            {{ item.Amount * item.Price | currency:'USD' }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      Total: <span slot="end"> {{ getTotal() | currency:'TTD':'symbol'}} </span>
    </ion-item>
  </ion-list>
  <ion-button (click)="senddata()" color="primary" expand ="full">checkout</ion-button>
</ion-content>
