<ion-header>
  <ion-toolbar>
    <ion-title>Parsely</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">First name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Last name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">address</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>

</ion-content>
