#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.category-block {
  margin-bottom: 4px;
}

.category-banner { 
  border-left : 8px solid green;
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

ion-card{
  
  height: 300px;
  width: 300px;
  }

ion-img{
height : 100px;
width: 200;

  }
  .new-background-color{
    --background: green;
  }
  .btns{
    --background: green;
  }
  .title-bar{
    
    --background: green;
  }